// Center H + V
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%main-radius {
    border-radius: 26.5px;
}

%center-block {
    margin: 0 auto;
}