:root {
    // Font Family
    --font-family-primary   : 'Kumbh Sans',  sans-serif;
    --font-family-secondary : 'Roboto Slab', serif;
    --font-family-tertiary  : 'Space Mono',  monospace;

    // Font Weight
    --font-weight--regular  : 400;
    --font-weight--bold     : 700;

    // Font Spacing
    --font-spacing: -5px;

    // Descriptive Base Colors
    --white       : #FFFFFF;
    --mirage      : #161932;
    --port-gore   : #1E213F;
    --periwinkle  : #D7E0FF;
    --white-lilac : #EFF1FA;
    
    // Theme Colors
    --froly       : #F87070; 
    --malibu      : #70F3F8;
    --heliotrope  : #D881F8;

    // Color Theme Usage
    --theme : var(--heliotrope);
}
