:root {
    // Font Family
    --font-family-primary   : 'Kumbh Sans',  sans-serif;
    --font-family-secondary : 'Roboto Slab', serif;
    --font-family-tertiary  : 'Space Mono',  monospace;

    // Font Weight
    --font-weight--regular  : 400;
    --font-weight--bold     : 700;

    --font-spacing: -5px;
}

