:root {
    // Font Family
    --font-family-kumbh-sans   : 'Kumbh Sans',  sans-serif;
    --font-family-roboto-slab  : 'Roboto Slab', serif;
    --font-family-space-mono   : 'Space Mono',  monospace;

    // Font Famiy Usage
    --font-family-primary   : var(--font-family-kumbh-sans);

    // Font Weight
    --font-weight--regular  : 400;
    --font-weight--bold     : 700;

    // Descriptive Base Colors
    --white       : #FFFFFF;
    --mirage      : #161932;
    --port-gore   : #1E213F;
    --periwinkle  : #D7E0FF;
    --white-lilac : #EFF1FA;
    
    // Theme Colors
    --froly       : #F87070; 
    --malibu      : #70F3F8;
    --heliotrope  : #D881F8;

    // Color Theme Usage
    --theme : var(--froly);

    // Progress bar
    --progress-bar-small:  0;
    --progress-bar-medium: 0;
}
