@use '../abstracts' as *;

.cycle-section {
    margin: auto;
    width: rem(327px);
    height: rem(63px);
    border-radius: 31.5px;
    background-color: var(--mirage);
    position: relative;
    z-index: 1;
    @extend %flex-center;
    @include mq(medium) {
        width: rem(373px); 
        height: rem(63px);
    }
}

