@use '../abstracts' as *;
.header {
    height: rem(100px);
    @extend %flex-center;
    @include mq(medium) {
        height: rem(165px);
    }
    @include mq(large) {
        height: rem(135px);
    }
}