@use '../abstracts' as *;

.time-section {
    position: relative;
    color: var(--periwinkle);
    margin: rem(48px) auto rem(79px);
    width:  rem(300px);
    height: rem(300px);
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    @extend %flex-center;
    @include mq(medium) {
        width:  rem(410px);
        height: rem(410px);
        margin-top: rem(109px);
    }
    @include mq(large) {
        margin-top: rem(49px);
    }
    &__background {
        width:  rem(267.8px);
        height: rem(267.8px);
        background-color: var(--mirage);
        border-radius: 50%;
        @extend %flex-center;
        @include mq(medium) {
            width:  rem(366px);
            height: rem(366px);
        }
    }
}






