@use '../../abstracts' as *;

.btn-hover-bg {
    width: rem(48px);
    height: rem(48px);
    @extend %flex-center;
    &:hover {
        cursor: pointer;
        border: 2px solid #EFF1FA;
        @extend %border-radius50;
    }
}

.btn {
    width: rem(40px);
    height: rem(40px);
    margin: 0;
    padding: 0;
    @extend %flex-center;
    @extend %border-radius50;
    &--font {
        color: #575972;
        font-size: rem(15px);
        background-color: var(--white-lilac);
    }
    &--kumbh {
        font-family: var(--font-family-kumbh-sans);
    }
    &--roboto {
        font-weight: var(--font-weight--regular);
        font-family: var(--font-family-roboto-slab);
    }
    &--space {
        font-weight: var(--font-weight--bold );
        font-family: var(--font-family-space-mono);
    } 
    &--color-froly {
        background-color: var(--froly);
    }
    &--color-malibu {
        background-color: var(--malibu);
    }
    &--color-heliotrope {
        background-color: var(--heliotrope);
    }  
    &--active {
        color: var(--white);
        background-color: var(--mirage);
    }  
}

.apply-btn {
    width: rem(140px);
    height: rem(53px); 
    display: block;
    margin: rem(5px) auto 0;
    border-radius: 26.5px;
    color: var(--white);
    background-color: var(--froly);
    &:hover {
       background-color: #F98D8D;
    }
}