@use '../../abstracts' as *;

.btn-wrapper {
    width: rem(48px);
    height: rem(48px);
    @extend %flex-center;
    &:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #EFF1FA;
    }
}

.btn {
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    @extend %flex-center;
    &--font {
        font-size: rem(15px);
        color: var(--port-gore);
        background-color: var(--white-lilac);
    }
    &--kumbh {
        font-family: var(--font-family-primary);
    }
    &--roboto {
        font-weight: var(--font-weight--regular);
        font-family: var(--font-family-secondary);
    }
    &--space {
        font-weight: var(--font-weight--bold );
        font-family: var(--font-family-tertiary);
    } 
    &--active {
        color: var(--white);
        background-color: var(--mirage);
    }  
    &--color-froly {
        background-color: var(--froly);
    }
    &--color-malibu {
        background-color: var(--malibu);
    }
    &--color-heliotrope {
        background-color: var(--heliotrope);
    }   
}

.apply-btn {
   width: rem(140px);
   height: rem(53px); 
   display: block;
   margin: rem(5px) auto 0;
   border-radius: 26.5px;
   color: var(--white);
   background-color: var(--froly);
}