@use '../../abstracts' as *;

.minutes {
    width: 90%;
    margin: 0 auto;
    height: rem(213px);
    border-bottom: 2px solid #E3E1E1;
    @include mq(medium) {
        height: rem(157px);
    }
    &__header {
        padding-top: rem(24px);
        padding-bottom: rem(18px);
        @include mq(medium) {
            padding-bottom: rem(23px);
        }
    }
    &__inner {
        @include mq(medium) {
            display: flex;
            justify-content: space-between;
        }
    }
}