@use '../../abstracts' as *;

.set-minutes {
    display: flex;
    align-items: center;
    margin-bottom: rem(8px);
    @include mq(medium) {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }
    &__header {
        color: var(--port-gore);
        opacity: 0.5;
        @include mq(medium) {
            margin-bottom: rem(10px);
            margin-left: rem(1px);
        }
    }
    &__inner {
        width: rem(140px);
        height: rem(40px);
        margin-left: auto;
        padding-left: rem(15px);
        display: flex;
        align-items: center;
        background-color: var(--white-lilac);
        border-radius: 10px;
        position: relative;
        @include mq(medium) {
            height: rem(48px);
        }
    }
    &__input {
        width: 80%;
        border: none;
        background: none;
        @include mq(medium) {
            height: rem(48px);
        }
    }
    &__inner-deep {
        height: 100%;
        position: absolute;
        top: 0;
        right: rem(12px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: rem(5px) 0;
    }
    &__up,
    &__down {
        stroke: #1E213F;
        stroke-opacity: .25;
        @extend %flex-center;
        &:hover {
            stroke-opacity: 1;
        }
    }
}