@use '../../abstracts' as *;

.time-minutes {
    width: 90%;
    margin: 0 auto;
    height: rem(213px);
    border-bottom: 2px solid #E3E1E1;
    @include mq(medium) {
        height: rem(157px);
    }
    &__header {
        margin-top: rem(24px);
        margin-bottom: rem(18px);
        @include mq(medium) {
            margin-bottom: rem(26px);
        }
    }
    &__inner {
        background-color: aqua;
        @include mq(medium) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.minute-btn {
    display: flex;
    @include mq(medium) {
        flex-direction: column;
    }

    &__header {
        color: var(--port-gore);
        opacity: 0.5;
    }
}