@use '../abstracts' as *;

.cycle-btn {
    width: rem(105px);
    height: rem(48px);
    border-radius: 26.5px;
    color: var(--periwinkle);
    opacity: 0.4;
    @include mq(medium) {
        width: rem(120px); 
        height: rem(48px);
    }
    &--active {
        color: var(--port-gore);
        opacity: initial;
        background-color: var(--theme);
    }
    &:hover {
        color: var(--periwinkle);
        opacity: initial;
    }
}