@use '../abstracts' as *;

.timer {
    position: absolute;
    flex-direction: column;
    @extend %flex-center;
    &__time {
        display: flex;
    }
    &__btn {
        padding-top: rem(5px);
        margin-right: rem(-15px);
        letter-spacing: rem(15px);
        color: var(--periwinkle);
        font-size:   rem(14px);
        line-height: rem(19px);
        text-transform: uppercase;
        &:hover {
            color: var(--theme);
        }
        @include mq(medium) {
            padding-top: rem(20px);
            font-size: rem(16px);
        }
    }
    &__align {
        align-self: flex-end;
    }
    &__colon {
        margin: 0 rem(5px);
    }
}

