@use '../abstracts' as *;

.timer {
    position: absolute;
    flex-direction: column;
    @extend %flex-center;
    &__time {
        display: flex;
        margin-top: rem(10px);
        @include mq(medium) {
            margin-top: rem(20px);
        }
    }
    &__btn {
        margin: 0;
        padding: rem(5px) 0 0;
        @include mq(medium) {
            padding: rem(20px) 0 0;
        }
    }
    &__align {
        align-self: flex-end;
    }
    &__colon {
        padding: 0 rem(5px);
    }
}

