@use '../abstracts' as *;

*,
*:after,
*:before {
  	box-sizing: border-box;
}

html {
    background-color: var(--port-gore);
}

body { 
    font-weight: var(--font-weight--bold);
    font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h1 {
    height: rem(103px);
    font-size: rem(80px);
    letter-spacing: var(--font-spacing);
    @include mq(medium) {
        height: rem(128px);
        font-size: rem(100px);
    }
}

h2 {
    font-size:   rem(20px);
    line-height: rem(34px);
    @include mq(medium) {
        font-size: rem(28px);
    }
}

h3 {
    color: var(--periwinkle);
    font-size:   rem(14px);
    line-height: rem(19px);
    letter-spacing: rem(15px);
    margin-right: rem(-15px);
    text-transform: uppercase;
    @include mq(medium) {
        font-size: rem(16px);
    }
    &:hover {
        color: var(--theme);
    }
}

h4 {
    font-size:   rem(11px);
    line-height: rem(16px);
    letter-spacing: rem(4.23px);
    text-transform: uppercase;
    text-align: center;
    @include mq(medium) {
        font-size: rem(13px);
        letter-spacing: rem(5px);
        text-align: left;
    }
}

h5 {
    font-size:   rem(12px);
    line-height: rem(14px);
}

input {
    font-size:   rem(14px);
    line-height: rem(18px);
}

button {
    cursor: pointer;
    border:     none;
    background: none;
}