@use '../abstracts' as *;

body {
    font-family: var(--font-family-primary);
}

h1 {
    font-size: rem(80px);
    line-height: rem(120px);
    letter-spacing: var(--font-spacing);
    @include mq(medium) {
        font-size: rem(100px);
    }
}

